# Usability Testing Results Assignment

## Description

Taking the completed interactive visual mockups, you are to conduct usability testing to see how easy the app is to use by your target users. You are to research the satisfaction of the users using your app and discover the opportunities to further improve the UI/UX design.  

Prepare the following documents for usability testing:

* Test plan 
* Test script
    * User scenarios (revise them if needed.)
* NDA
* Test-ready Interactive visual mockups 

## References

MAD9034 Course Notes
* [MAD9034 Course Slides](https://goo.gl/JKcRx7)
* MAD9034 Week 12 module

## Submission

Submit your finished work through BS LMS.
- Test-ready interactive visual mockups: _URL_
- Test plan: _testPlan-groupname.pdf_
- test script: _testScript-groupname.pdf_
- NDA: _NDA-groupname.pdf_ OR _URL_ 
